{% extends "base.html" %}

{% block title %}Авторизоваться{% endblock %}

{% block content %}
   <h1>Авторизоваться</h1>
   {% if form.errors %}
       <p>
           Ваши логин или пароль не верны.
           Попробуйте снова
       </p>
   {% else %}
       <p>Пожалуста, используйте следующую форму для авторизации:</p>
   {% endif %}
   <div class="login-form">
       <form action="{% url 'login' %}" method="post">
           {{ form.as_p }}
           {% csrf_token %}
           <input type="hidden" name="next" value="{{ next }}" />
           <p><input type="submit" value="Log-in"></p>
       </form>
       <p>
           <a href="{% url "password_reset" %}">
           Забыли свой пароль?
           </a>
       </p>
   </div>
{% endblock %}