{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <h1>Авторизоваться</h1>
    {% if form.errors %}
         <p>
             Ваше имя или пароль не совпадают.
             Пожалуста попробуте снова.
         </p>
    {% else %}
         <p>Пожалуста используйте форму ниже для авторизации:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Авторизоваться"></p>
        </form>
        <p>
            <a href="{% url "password_reset" %}">
            Забыли свой пароль
            </a>
        </p>
    </div>
{% endblock %}